* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgb(0, 153, 255) 90%);


    background-size: 400% 400%;
    animation: background 15s ease infinite ;
}

@keyframes background {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
    
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 4rem;
}

.to_do_list_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 3rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80rem;
    justify-content: center;
    
}

.col_4 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
}

input, select, textarea {
    background: #e6e1e196;
    height: 3rem;

    font-size: 1.2rem;
    margin-bottom: 3rem;
    padding-inline: .5rem;
    border: none;
    border-radius: .4rem;
}

form .menor {
    width: 15%;
}

form .maior {
    width: 100%;
}

textarea {
    height: 6.5rem;
    padding: .5rem;
}

button {
    width: 90%;
    height: 3.5rem;
    
    background: black;
    color: white;
    letter-spacing: .2rem;

    border: none;
    border-radius: .5rem;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}
